body{
    width: 100%;
    color: white;
}

nav{
    color: grey;
    padding: 0 15px;
}

ul > li > a{
    color: grey;
}

.button-collapse{
    border: 1px solid white;
    border-radius: 50%;
    background-color: lightgray;
    transform: scale(0.75);
}

.button-collapse:hover{
    background-color: grey;
}

#first-page{
    width: 100%;
    height: calc(100vh - 64px);
    overflow: hidden;
    position: relative;
}

video{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.greeting-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px black;
}

#second-page{
    height: 80vh;
    color: grey;
    /*position: relative;*/
}



.parallax-div{
    height: 400px;
    width: 400px;
    position: relative;
    margin-left: 10%;
}

/*img{
    position: absolute;
}*/

.image-top{
    position: absolute;
    /*top: 10%;*/
    
    z-index: 1;
}

.image-middle{
    position: absolute;
    top: 60%;
    left: 40%;
    display: block;
    z-index: 3;
    
}

.image-bottom{
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 2;
}

