body{
    width: 100%;
    color: white;
    font-family: Verdana, Geneva, sans-serif;

}

nav{
    color: grey;
    padding: 0 15px;
}

ul > li > a{
    color: grey;
}

.button-collapse{
    border: 1px solid white;
    border-radius: 50%;
    background-color: lightgray;
    transform: scale(0.75);
}

.button-collapse:hover{
    background-color: grey;
}

#first-page{
    width: 100%;
    height: calc(100vh - 64px);
    overflow: hidden;
    position: relative;
}

.full-vid{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.greeting-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px black;
}

#second-page{
    height: 80vh;
    color: grey;
    position: relative;
    overflow: hidden;
}



.parallax-div{
    height: 400px;
    width: 400px;
    position: relative;
    margin-left: 10%;

}

img{
    position: absolute;
}

image-top{
    position: absolute;
    top: 10%;
    
    z-index: 1;
}

.image-middle{
    position: absolute;
    top: 60%;
    left: 40%;
    display: block;
    z-index: 3;
    
}

.image-bottom{
    position: absolute;
    top: 40%;
    left: 30%;
    z-index: 2;
}



#third-page{
    background-color: rgba(0, 0 , 0, .85);
}

.third-page-first{
    width: 90%;
    padding-top: 5%;
}

.third-page-second{
    width: 80%;
}

.third-page-paragraph{
    margin: 20px 0;
}

.paragraph-text{
    font-size: 18px;
}
